[submodule "nvim"]
	path = nvim
	url = https://github.com/sharon504/nvim-config.git
[submodule "rofi"]
	path = rofi
	url = https://github.com/sharon504/rofi-config.git
[submodule "hypr"]
	path = hypr
	url = https://github.com/sharon504/hypr-config.git
[submodule "niri"]
	path = niri
	url = https://github.com/sharon504/niri-config.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/sharon504/zsh-config.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/sharon504/tmux-config.git
[submodule "kanata"]
	path = kanata
	url = https://github.com/sharon504/kanata-config.git
[submodule "kitty"]
	path = kitty
	url = https://github.com/sharon504/kitty-config.git
