// --- Autostart Applications ---

spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &" // Start clipboard history manager
spawn-at-startup "/usr/lib/mate-polkit/polkit-mate-authentication-agent-1" // Run Polkit agent for authentication (e.g., admin passwords)
spawn-at-startup "swww-daemon" // Initialize wallpaper daemon
spawn-at-startup "waybar" // Start the status bar
spawn-at-startup "hypridle" // Start idle daemon (for screen locking after inactivity)
