// --- Monitor / Output Settings ---

output "eDP-1" { // Settings for the built-in laptop display
    mode "1920x1080@60.020"
    scale 1 // Apply 95% fractional scaling
    transform "normal"
    position x=1280 y=0 // Position display (implies multi-monitor setup)
}

output "HDMI-A-1" {
  mode "1366x768@60"
  scale 0.8
  transform "normal" 
  position x=0 y=0
}
