// --- Application-Specific Rules ---

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"# // Rule for Wezterm
    default-column-width {} // Reset column width for Wezterm
}

window-rule {
  match app-id="floating" // Rule for any app launched with "floating" class
  open-floating true // Make it float
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$" // Rule for Firefox Picture-in-Picture
    open-floating true // Make PiP windows float
}

window-rule {
    match app-id=r#"zen$"# // Rule for Zen to open on workspace 1
    open-on-workspace "c"
    open-maximized true
}

window-rule {
    match app-id=r#"kitty$"# // Rule for Zen to open on workspace 1
    open-on-workspace "b"
    open-maximized true
}

layer-rule {
    match namespace="swww";
    place-within-backdrop true;
}

window-rule {
    match app-id=r#"kitty$"# // Rule for Nautilus
    // opacity 0.77
}

window-rule {
    geometry-corner-radius 0
}
